dist/swagger-ui-standalone-preset.js
dist/swagger-ui-standalone-preset.js.map
dist/swagger-ui.js
dist/swagger-ui.css
dist/swagger-ui.js.map
dist/swagger-ui.css.map
dist/swagger-ui-bundle.js
dist/swagger-ui-bundle.js.map

dev-helpers/docs
dist/docs

node_modules
.idea
.vscode
.deps_check
.DS_Store
.nyc_output
npm-debug.log*
.eslintcache
*.iml
selenium-debug.log
test/e2e/db.json
docs/_book

flavors/**/dist/*

# Cypress
test/e2e-cypress/screenshots
test/e2e-cypress/videos
