.info
{
    margin: 50px 0;

    hgroup.main
    {
        padding: 0 0 5px 16px;
        margin: 0 0 20px 0;
        a
        {
            font-size: $font-size-secondary;
            font-weight: lighter;
        }
        border-left: 8px solid #c7c7c7;
    }
    pre 
    {
        font-size: $font-size-primary-fixed-with;
    }
    p, li, table
    {
        font-size: $font-size-primary;
        line-height: $line-height-primary;

        @include text_body();
    }

    h1, h2, h3, h4, h5
    {
        @include text_body();
    }

    a
    {
        font-size: $font-size-primary;

        transition: all .4s;

        @include text_body($info-link-font-color);

        &:hover
        {
            color: darken($info-link-font-color-hover, 15%);
        }
    }
    > div
    {
        margin: 0 0 5px 0;
    }

    .base-url
    {
        font-size: 12px;
        font-weight: 300 !important;

        margin: 0;

        @include text_code();
    }

    .title
    {
        font-size: 36px;

        margin: 0;

        @include text_body();

        small
        {
            font-size: $font-size-third;
            font-weight: lighter;

            position: relative;
            top: -2px;

            display: inline-block;

            margin: 0 0 0 5px;
            padding: 2px 4px;

            pre
            {
                margin: 0;
                padding: 0;
                @include text_headline(black);
            }
        }
    }
}
