code {
    word-break: break-all;
}

.wrapper
{
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.opblock-tag-section
{
    display: flex;
    flex-direction: column;
}

.opblock-tag
{
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: all .2s;

    &:hover
    {
        background: rgba($opblock-tag-background-color-hover,.02);
    }
}

@mixin method($color)
{
    border-color: rgba($color, 0.5);

    .opblock-summary-method
    {
        background: $color;
    }

    .opblock-summary
    {
        border-color: rgba($color, 0.5);
    }

    .tab-header .tab-item.active h4 span:after
    {
        background: $color;
    }
}

.opblock-tag
{
    padding: 8px 16px;
    margin-left: -16px;
    margin-right: -16px;

    @include text_headline();

    &.no-desc
    {
        span
        {
            flex: 1;
        }
    }

    svg
    {
        transition: all .4s;
    }

    small
    {
        font-size: 14px;
        font-weight: normal;

        flex: 1;

        padding: 0 10px;

        @include text_body();
    }
}

.parameter__type
{
  padding: 8px 0;
}

.view-line-link
{
    position: relative;
    top: 3px;

    width: 20px;
    margin: 0 5px;

    cursor: pointer;
    transition: all .5s;
}



.opblock
{
    margin: 0 0 15px 0;

    border: 1px solid $opblock-border-color;
    border-radius: 3px;

    .tab-header
    {
        display: flex;

        flex: 1;

        .tab-item
        {
            padding: 0 40px;

            &:first-of-type
            {
                padding: 0 40px 0 0;
            }
            &.active
            {
                h4
                {
                    span
                    {
                        position: relative;


                        &:after
                        {
                            position: absolute;
                            bottom: -15px;
                            left: 50%;

                            width: 120%;
                            height: 4px;

                            //content: ''; // remove tab style
                            transform: translateX(-50%);

                            background: $opblock-tab-header-tab-item-active-h4-span-after-background-color;
                        }
                    }
                }
            }
        }
    }


    &.is-open
    {
        .opblock-summary
        {
            border-bottom: 1px solid $opblock-isopen-summary-border-bottom-color;
        }
    }

    .opblock-section,
    .responses-wrapper {
      //border-top: 1px solid $color-sep-line;
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        border-top: 1px solid $color-sep-line;
        left: 10px;
        right: 10px;
      }
    }

    .opblock-section-header
    {
        display: flex;
        align-items: center;

        padding: 12px 16px 4px;

        >label
        {
            font-size: 12px;
            font-weight: bold;

            display: flex;
            align-items: center;

            margin: 0;
            margin-left: auto;

            @include text_headline();

            >span
            {
                padding: 0 10px 0 0;
            }
        }

        h4
        {
            font-size: 14px;

            flex: 1;

            margin: 0;

            @include text_headline();
        }

    }

    .opblock-summary-method
    {
        font-size: $font-size-secondary;
        font-weight: lighter;
        min-width: 80px;
        padding: 6px 15px;
        text-align: center;
        border-radius: 3px;

        @include text_headline($opblock-summary-method-font-color);
    }

    .opblock-summary-path,
    .opblock-summary-operation-id,
    .opblock-summary-path__deprecated
    {
        @media (max-width: 768px) {
          font-size: 12px;
        }

        display: flex;
        align-items: center;

        word-break: break-word;

        padding: 0 10px;

        font-weight: bolder;
        font-size: 14px;

    }

    .opblock-summary-path__deprecated
    {
        text-decoration: line-through;
    }

    .opblock-summary-operation-id
    {
        font-size: 14px;
    }

    .opblock-summary-description
    {
        position: relative;
        top: 1px;
        font-size: $font-size-secondary;

        flex: 1 1 auto;

        word-break: break-word;

        @include text_body();
    }

    .opblock-summary
    {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 5px;

        cursor: pointer;

        .view-line-link
        {
            position: relative;
            top: 2px;

            width: 0;
            margin: 0;

            cursor: pointer;
            transition: all .5s;
        }

        &:hover
        {
            .view-line-link
            {
                width: 18px;
                margin: 0 5px;
            }
        }
    }



    &.opblock-post
    {
        @include method($_color-post);
    }

    &.opblock-put
    {
        @include method($_color-put);
    }

    &.opblock-delete
    {
        @include method($_color-delete);
    }

    &.opblock-get
    {
        @include method($_color-get);
    }

    &.opblock-patch
    {
        @include method($_color-patch);
    }

    &.opblock-head
    {
        @include method($_color-head);
    }

    &.opblock-options
    {
        @include method($_color-options);
    }

    &.opblock-deprecated
    {
        opacity: .6;

        @include method($_color-disabled);
    }

    .opblock-schemes
    {
        padding: 8px 20px;

        .schemes-title
        {
            padding: 0 10px 0 0;
        }
    }
}

.filter
{
    .operation-filter-input
    {
        width: 100%;
        margin: 20px 0;
        padding: 10px 10px;

        border: 2px solid $operational-filter-input-border-color;
    }
}


.tab
{
    display: flex;

    margin: 20px 0 10px 0;
    padding: 0;

    list-style: none;

    li
    {
        font-size: 12px;

        min-width: 60px;
        padding: 0;

        cursor: pointer;

        @include text_headline();

        &:first-of-type
        {
            position: relative;

            padding-left: 0;
            padding-right: 12px;

            &:after
            {
                position: absolute;
                top: 0;
                right: 6px;

                width: 1px;
                height: 100%;

                content: '';

                background: rgba($tab-list-item-first-background-color,.2);
            }
        }

        &.active
        {
            font-weight: bold;
        }
    }
}

.opblock-description-wrapper,
.opblock-external-docs-wrapper,
.opblock-title_normal
{
    font-size: $font-size-primary;
    line-height: $line-height-primary;

    margin: 0 0 0 0;
    padding: 8px 16px;

    @include text_body();
}

.opblock-external-docs-wrapper {
  h4 {
    padding-left: 0px;
  }
}

.execute-wrapper
{
    padding: $line-height-primary-fixed-width;

    text-align: right;

    .btn
    {
        width: 100%;
        padding: 8px 40px;
    }
}

.body-param-options
{
    display: flex;
    flex-direction: column;

    .body-param-edit
    {
        padding: 10px 0;
    }

    label
    {
        padding: 8px 0;
        select
        {
            margin: 3px 0 0 0;
        }
    }
}

.responses-inner
{
    padding: 16px;
    padding-top: 0;
}

.response-col_status
{
    margin-top: 20px;
    margin-bottom: 8px;

    @include text_body();

    .response-undocumented
    {
        font-size: 11px;

        @include text_code($response-col-status-undocumented-font-color);
    }
}

.response-col_links
{
    display: none;
    padding-left: 2em;
    max-width: 40em;
    font-size: 14px;

    @include text_body();

    .response-undocumented
    {
        font-size: 11px;

        @include text_code($response-col-links-font-color);
    }
}

.response-col_description__inner
{
    div.markdown, div.renderedMarkdown
    {
        font-size: $font-size-primary-fixed-with;
        margin: 0;

        line-height: $line-height-primary-fixed-width;
        font-weight: normal;
        white-space: pre-wrap;
        background: $background-color-shadow;
        border-radius: 3px;
        padding: 8px;
        hyphens: auto;

        overflow-wrap: break-word;

        p {
          margin: 0;
        }
        @include text_code(#fff);
    }
}

.opblock-body
{
  background: rgba(#B3C6D8, 0.2);
  .opblock-loading-animation
  {
    display: block;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
  }
}

.opblock-body pre
{
    font-size: $font-size-primary-fixed-with;
    margin: 0;

    line-height: $line-height-primary-fixed-width;
    color: #fff !important;
    font-weight: normal;
    white-space: pre-wrap;
    background: $background-color-shadow;
    border-radius: 3px;
    padding: 8px;
    hyphens: auto;

    overflow-wrap: break-word;
    @include text_code(#37474f);
}

.highlight-code {
  position: relative;

  > .microlight {
    overflow-y: auto;
  }
}

.download-contents {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background: #7d8293;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  font-size: 14px;
  height: 30px;
  width: 75px;
}

.scheme-container
{
    margin: 0 0 20px 0;
    padding: 30px 0;

    background: $scheme-container-background-color;
    box-shadow: 0 1px 2px 0 rgba($scheme-container-box-shadow-color,.15);

    .schemes
    {
        display: flex;
        align-items: flex-end;

         > label
        {
            font-size: 12px;
            font-weight: bold;

            display: flex;
            flex-direction: column;

            margin: -20px 15px 0 0;

            @include text_headline();

            select
            {
                min-width: 130px;

                text-transform: uppercase;
            }
        }
    }
}

.loading-container
{
    padding: 40px 0 60px;
    margin-top: 1em;
    min-height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loading
    {
        position: relative;


        &:after
        {
            font-size: 10px;
            font-weight: bold;

            position: absolute;
            top: 50%;
            left: 50%;

            content: 'loading';
            transform: translate(-50%,-50%);
            text-transform: uppercase;

            @include text_headline();
        }

        &:before
        {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            width: 60px;
            height: 60px;
            margin: -30px -30px;

            content: '';
            animation: rotation 1s infinite linear, opacity .5s;

            opacity: 1;
            border: 2px solid rgba($loading-container-before-border-color, .1);
            border-top-color: rgba($loading-container-before-border-top-color, .6);
            border-radius: 100%;

            backface-visibility: hidden;

            @keyframes rotation
            {
                to
                {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.response-content-type {
  padding-top: 1em;

  &.controls-accept-header {
    select {
      border-color: $response-content-type-controls-accept-header-select-border-color;
    }

    small {
      color: $response-content-type-controls-accept-header-small-font-color;
      font-size: .7em;
    }
  }
}

@keyframes blinker
{
    50%
    {
        opacity: 0;
    }
}


section
{
    h3
    {
        @include text_headline();
    }
}

a.nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  display: inline;

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
}

.version-pragma {
  height: 100%;
  padding: 5em 0px;

  &__message {
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    line-height: $line-height-primary;

    padding: 0px .6em;

    > div {
      max-width: 55ch;
      flex: 1;
    }

    code {
      background-color: #dedede;
      padding: 4px 4px 2px;
      white-space: pre;
    }
  }
}

.swagger-ui {
  padding-left: 292px;
}

.toc {
  padding: 12px 12px 12px 0;
  background-color: rgba(#B3C6D8, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 1000;
  font-size: 12px !important;
  overflow: auto;
  line-height: 2.8;


  ul {
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0 0 0 12px;

    > li {
      font-weight: bolder;
      li, a {
        font-weight: normal;
      }
      a {
        float: right;
        display: inline-block;
        margin-left: 4px;
        line-height: 21px;
        vertical-align: bottom;
      }
    }
  }

  li {
    line-height: 1.3 !important;
    margin: 8px 0;
  }

  a {
    font-size: 10px !important;
  }
}

.opblock-title__api-url {
  margin-bottom: 12px;
}