table
{
    width: 100%;
    padding: 0 10px;

    border-collapse: collapse;

    &.model
    {
        tbody
        {
            tr
            {
                td
                {
                    padding: 0;

                    vertical-align: top;

                    &:first-of-type
                    {
                        width: 174px;
                        padding: 0 0 0 2em;
                    }
                }
            }
        }
    }

    &.headers
    {
        td
        {
            font-size: 12px;
            font-weight: 300;

            vertical-align: middle;

            @include text_code();
        }
    }

    tbody
    {
        tr
        {
            td
            {
                padding: 0 0 10px 0;

                vertical-align: top;

                &:first-of-type
                {
                    width: 80px;
                    padding: 8px 0;
                }
            }
        }
    }

    thead
    {
        tr
        {
            th,
            td
            {
                font-size: $font-size-primary;
                font-weight: lighter;
                padding: 8px 0;
                text-align: left;
                @include text_body();
            }
        }
    }
}

.parameters-col_description
{
    p {
        margin: 8px !important;
    }
    padding-left: 16px;
    input[type=text]
    {
        width: 100%;
        max-width: 340px;
    }

    select {
        border-width: 1px;
    }
}

.parameter__name
{
    font-size: 16px;
    font-weight: normal;

    &.required
    {
        font-weight: bold;

        &:after
        {
            font-size: 10px;

            position: relative;
            top: -6px;

            padding: 5px;

            content: 'required';

            color: rgba($table-parameter-name-required-font-color, .6);
        }
    }
}

.parameter__in,
.parameter__extension
{
    font-size: $font-size-third;
    font-weight: lighter;
    padding-left: 4px;
}

.parameter__deprecated
{
    font-size: $font-size-third;
    font-style: italic;
    @include text_code($table-parameter-deprecated-font-color);
}

.parameter__empty_value_toggle {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 12px;

    input {
        margin-right: 7px;
    }

    &.disabled {
        opacity: 0.7;
    }
}


.table-container
{
    padding: 0 16px;
}
