@mixin text_body($color: $text-body-default-font-color)
{
    font-family: $font-family-primary;
    color: $color;
}

@mixin text_code($color: $text-code-default-font-color)
{
    font-family: $font-family-fixed-width;
    color: $color;
}

@mixin text_headline($color: $text-headline-default-font-color)
{
    font-family: $font-family-primary;
    font-weight: 400;
    color: $color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
  padding-bottom: 6px;
  border-bottom: 1px solid $color-sep-line;
  font-weight: 400 !important;
}

h3 {
  font-size: $font-size-h3;
  margin-top: 24px;
  margin-bottom: 8px;
  color: $color-api-blue !important;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  margin: 0;
}

.swagger-ui .renderedMarkdown p,
p {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  margin-top: 8px;
  margin-bottom: 8px;
}
